.form-comment {
  @include use-theme(
    background-color,
    $palette-primary-light,
    $palette-primary-dark
  );
  padding: $spacing1;
  border-radius: $rounded-big;
  @include breakpoints-up(sm) {
    padding: spacing(2, 3);
  }
}

.write {
  position: relative;
  display: flex;
  align-items: center;
  ::v-deep(fieldset) {
    height: 41px;
  }
  ::v-deep(.v-text-field--solo) > .v-input__control > .v-input__slot {
    @include padding-right(150px);
    border-radius: $rounded-big;
    margin-bottom: 0;
  }
  ::v-deep(.v-input) {
    border-radius: $rounded-medium;
  }
  ::v-deep(.v-text-field__details) {
    display: none;
  }
  .send-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    @include use-theme(
      background-color,
      $palette-primary-light,
      $palette-primary-dark
    );
  }
}

.avatar {
  margin-right: $spacing1;
}

.comments {
  &.v-list {
    background-color: transparent;
  }
}

.comment-list {
  margin-top: $spacing2;
}

.date {
  height: auto;
  padding: 0;
  font-size: 12px;
}

.content {
  margin-top: $spacing1;
  margin-bottom: $spacing2;
  line-height: 1.5;
}

.help-item {
  text-transform: uppercase;
  font-size: 13px;
}
