.filter {
  @include breakpoints-down(sm) {
    padding: $spacing4;
    height: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
  }
}

.filter-block {
  margin-bottom: $spacing6;
  border-radius: 8px;
  overflow: hidden;
  .v-list {
    background-color: transparent;
  }
}

.sorter {
  @include breakpoints-down(xs) {
    flex-direction: column-reverse;
  }
  ::v-deep(.v-select__selection--comma) {
    padding: spacing(0, 2);
  }
  ::v-deep(.v-text-field--filled) > .v-input__control > .v-input__slot {
    min-height: 32px;
  }
  ::v-deep(.v-text-field--filled)
    > .v-input__control
    > .v-input__slot
    .v-label {
    top: $spacing1;
  }
  ::v-deep(.v-text-field--enclosed) .v-input__append-inner {
    margin-top: 6px;
  }
}

.sorter {
  @include breakpoints-down(xs) {
    flex-direction: column-reverse;
  }
}

.btn-tag {
  position: relative;
  cursor: pointer;
  label {
    display: inline-block;
    padding: 1px 6px;
    margin: 4px;
    border-radius: $rounded-small;
    border: 1px solid $palette-primary-main;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    @include palette-background-default;
  }
  input {
    opacity: 0;
    position: absolute;
    &:checked + label {
      color: $palette-common-white;
      background: $palette-primary-main;
    }
  }
}

.title-filter {
  font-weight: $font-medium;
  font-size: 18px;
  @include palette-text-primary;
  padding: 0;
}

.input-price {
  width: 75px;
  display: inline-block;
  ::v-deep(.v-input__slot) {
    min-height: 26px;
    margin-bottom: $spacing1;
  }
}

.search-banner {
  height: 400px;
  padding-top: $spacing15;
  display: flex;
  align-items: center;
}

.search {
  position: relative;
  display: flex;
  margin: $spacing4 auto;
  align-items: center;
  @include breakpoints-up(sm) {
    width: 600px;
  }
  ::v-deep(.v-text-field--outlined) > .v-input__control > .v-input__slot {
    padding-left: $spacing5;
    @include palette-background-paper;
    border-radius: $rounded-medium;
    min-height: 0;
    margin-bottom: 0;
    input {
      max-height: none;
    }
  }
  ::v-deep(.v-text-field__details) {
    display: none;
  }
  .search-icon {
    position: absolute;
    top: $spacing2;
    left: $spacing1;
  }
}

.apply-range {
  @include rtl-flip;
}
