$dark-shadow: 0px 1px 10px 1px #404040, 0px 1px 1px 1px #2a2a2a,
  0px 2px 8px -1px #141414;

@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.v-application {
  overflow: hidden;
  font-family: var(--typography-body-font-normal) !important;
  .fadeIn2 {
    -webkit-animation-name: fadeIn2;
    animation-name: fadeIn2;
  }
  .v-dialog:not(.v-dialog--fullscreen) {
    margin: 12px;
  }
  .vel-img {
    box-shadow: rgb(0 0 0 / 20%) 0 5px 40px 2px !important;
  }
  .v-menu__content {
    overflow: hidden;
    contain: none;
  }
  &--is-rtl {
    text-align: right;
    .slick-slide * {
      direction: rtl;
    }
    ul,
    ol {
      padding-right: $spacing3;
    }
    .v-list-item__action {
      .mdi-chevron-right {
        transform: scale(-1);
      }
    }
  }
  .v-main {
    font-family: 'Open Sans', sans-serif;
    padding: 0 !important;
  }
  .v-btn__content {
    letter-spacing: 0;
  }
  .v-overlay {
    z-index: 90 !important;
  }
  .v-menu__content {
    border-radius: 12px;
  }
  .v-btn.v-size--large {
    font-size: 0.9375rem;
  }
  .v-btn {
    font-weight: 600;
    &:not(.v-btn--round).v-size--large {
      height: 48px;
      padding: 8px 24px;
    }
  }
  .slick-slide {
    &:focus {
      outline: none;
    }
  }
  .row {
    flex-direction: row;
    margin: 0 -12px;
    &.spacing2 {
      margin-left: -8px;
      margin-right: -8px;
    }
    &.spacing4 {
      margin-left: -16px;
      margin-right: -16px;
    }
    &.spacing6 {
      margin-left: -24px;
      margin-right: -24px;
    }
    &.spacing8 {
      margin-left: -32px;
      margin-right: -32px;
    }
    &.row-reverse {
      flex-direction: row-reverse;
    }
    &.column {
      flex-direction: column;
    }
    &.column-reverse {
      flex-direction: column-reverse;
    }
  }
  .v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border-radius: 12px;
  }
  .v-app-bar.v-app-bar--fixed {
    z-index: 99;
  }
  .slick-dots {
    padding-left: 0;
    li {
      margin: 1px;
      button:before {
        border-radius: 50%;
        color: transparent !important;
        width: 10px;
        height: 10px;
        border: 2px solid $palette-primary-main;
        opacity: 0.5;
        transition: all 0.3s ease;
      }
      &.slick-active {
        button:before {
          width: 20px;
          height: 20px;
          top: -5px;
          left: -5px;
          background: $palette-primary-main !important;
        }
      }
    }
  }
}

.v-application.theme--dark {
  .v-sheet.v-card:not(.v-sheet--outlined) {
    background-color: #424242;
    box-shadow: $dark-shadow;
  }
  .v-list {
    background-color: #424242;
  }
  .v-menu__content {
    box-shadow: $dark-shadow;
  }
  .v-btn--fab.v-btn--contained:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background: $dark-background-paper;
    box-shadow: 0px 1px 3px 0px rgba(64, 64, 64, 1),
      0px 1px 1px 0px rgba(42, 42, 42, 1), 0px 2px 1px -1px rgba(20, 20, 20, 1);
  }
}

.v-application.theme--light {
  .v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.06);
  }
  .v-menu__content {
    box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.06);
  }
  .v-btn--fab.v-btn--contained:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background: $light-background-paper;
    box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.06);
  }
}

/* Content Overider */
.container {
  padding: 0 16px !important;
  max-width: 1280px !important;
  @media (min-width: 600px) {
    padding: 0 24px !important;
  }
  @media (min-width: 960px) {
    padding: 0 32px !important;
  }
  &.fixed-width {
    @media (min-width: 600px) {
      max-width: 600px;
    }
    @media (min-width: 960px) {
      max-width: 960px;
    }
    @media (min-width: 1280px) {
      max-width: 1280px;
    }
  }
  &.max-lg {
    max-width: 1280px;
  }
  &.max-md {
    max-width: 960px;
  }
  &.max-sm {
    max-width: 600px;
  }
  &.max-xs {
    max-width: 444px;
  }
}

#main-wrap .v-toolbar__content,
.v-toolbar__extension {
  padding: 0;
}

/* Theme overider */
.rose {
  --font-regular: 400;
  --font-medium: 600;
  --font-bold: 700;
  a:hover {
    color: $palette-primary-main;
  }
  .v-tabs-items,
  .v-tabs .v-tabs-bar {
    background: transparent !important;
  }
  .v-tabs-slider {
    height: 5px;
    border-radius: 4px 4px 0 0;
    position: relative;
    top: -3px;
  }
  .v-btn {
    border-radius: 36px;
    font-weight: 600;
    box-shadow: none;
    &:not(.v-btn--round):not(.v-btn--text).v-size--default {
      padding: 8px 24px;
      line-height: 28px;
    }
    &__content {
      line-height: 28px;
    }
  }
  .theme--light {
    .v-btn--outlined.primary--text {
      span {
        color: $palette-primary-dark;
      }
    }
    .v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state)
      > .v-input__control
      > .v-input__slot:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
  .theme--dark {
    .v-btn--outlined.primary--text {
      border-color: $palette-primary-light;
      span {
        color: $palette-primary-light;
      }
    }
    .v-btn--outlined.secondary--text {
      border-color: $palette-secondary-light;
      span {
        color: $palette-secondary-light;
      }
    }
    .v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state)
      > .v-input__control
      > .v-input__slot:hover {
      background-color: rgba(255, 255, 255, 0.03);
    }
  }
  .theme--light,
  .theme--dark {
    .v-text-field--filled > .v-input__control > .v-input__slot {
      background: none;
      border-radius: 12px;
      padding: 0 !important;
      .v-label {
        top: 18px;
        padding: spacing(0, 2);
        &--active {
          top: 12px;
        }
      }
    }
  }
  .v-text-field > .v-input__control > .v-input__slot {
    &:after,
    &:before {
      display: none;
    }
  }
  .v-text-field--filled:not(.v-text-field--single-line) input,
  .v-textarea.v-text-field--enclosed textarea {
    margin-top: 0;
    padding-left: 12px;
    padding-right: 12px;
    max-height: none;
  }
  .v-text-field--filled:not(.v-text-field--single-line) input {
    padding-top: 22px;
  }
  .v-textarea.v-text-field--enclosed textarea {
    padding-top: 28px;
  }
  .v-expansion-panels .v-expansion-panel:not(:first-child)::after {
    border: none;
  }
  .v-expansion-panels > .v-expansion-panel:last-child {
    margin-bottom: 0;
  }
}
